@page
@model FrameworkQ.Workflow.Test.Pages.Step3

@{
    ViewData["Title"] = "Step 3 - Comfirm and Submit";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Please confirm your information and complete the form.
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" id="first_name" workflow_variable="true" class="readonly" readonly/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" id="last_name" workflow_variable="true" class="readonly" readonly/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" id="email" workflow_variable="true" class="readonly" readonly/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="div_actions"></div></td>
            </tr>
        </table>

    </p>
</div>